.onboarding {
  height: 100vh;
  min-height: 900px;
  background-color: #00C3FF;
  display: flex;
  justify-content: center;
  position: relative;
}

.onboarding__wrapper {
  text-align: center;
  padding-top: 60px;
  max-width: 800px;
  width: 98%;
}

.onboarding__come-back {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
  color: black;
}


.onboarding__mail {
  position: fixed;
  width:60px;
  height:60px;

  bottom: 10px;
  right: 10px;

}