.blog-header {
  margin-top: 73.89px;
  background-color: #00C3FF;
  background-image: url(../../../images/bg-pink-white.svg),
  url(../../../images/bg-white.svg);
  background-repeat: no-repeat;
  background-position: -250px 50px,
  top -250px right -40px;
  
}

.blog-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 40px;
}

.blog-header__text {
  width: 50%;
  min-width: 450px;
  margin-right: 20px;
}

.blog-header__title {
  color: white;
  font-size: 40px;
}

.blog-header__description {
  font-size: 22px;
  margin: 24px 0px 54px;
  color: #0D0D0B;

}

.blog-header__illustration-wrapper {
  position: relative;
  bottom: -70px;
 
}


@media (max-width: 900px) {

  .blog-header {
      background-position: -260px 50px,
      top -280px right -60px;
  
}

  .blog-header__wrapper {
    flex-direction: column;

  }

  .blog-header__text {
    min-width: auto;
    width: 90%;
    text-align: center;
  }

  .blog-header__title {
    font-size: 30px;
  }

  .blog-header__description {
    font-size: 16px;
    
  }

  .blog-header__illustration-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
  }



}

@media (max-width: 600px) {
  .blog-header {
    margin-top: 66px;
    
  }

}