.dropdown__wrapper {
  position: absolute;
  padding-top: 20px;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.4s ease;
  height: auto;
  width: auto;
  white-space: nowrap;

}

.dropdown__content {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 10px 20px;
}


.dropdown__item-wrapper {
  display: flex;
}

.dropdown__item:first-child {
  margin-right: 50px;
}

.dropdown__list-subtitle {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
}

.dropdown__list-link {
  margin-bottom: 5px;
}
.dropdown__list-link a {
  font-weight: 400;
  font-size: 14px;

  color: black;

}

.dropdown__list-link a:hover {
  border-bottom: 2px solid #00C3FF
}

.dropdown__list {
  padding: 10px;
}


.dropdown__additional {
  padding: 0px 10px;
  text-align: center;

}

.dropdown__additional-link {
  font-size: 14px;
  font-weight: 600;
  color: #04117B
}

  .dropdown__back {
    display: none;
  }


@media (max-width: 1000px) {
  .dropdown__wrapper {
    position: fixed;
    left: auto;
    right: 0;
    top: 0px;
    height: auto;
    width: auto;


    padding-top: 0px;
    width: 100vw;
    height: 100vh;
    transform: none;

    display: flex;
    justify-content: flex-end;
    background-color: rgba(0,0,0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 99999;
  }

  .dropdown__content {
    overflow: auto;
    height: 100vh;
    width: 90%;
    padding: 30px 20px 100px;

  }


  .dropdown__item-wrapper {
    display: flex;
    flex-direction: column;


  }

  .dropdown__back {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px  0px;
    background-color: #04117B;
    width: 90%;
    color: white;
    font-weight: 700;
    text-align: right;
    display: block;

  }

   .dropdown__back-text {
     padding-right: 20px;
   }

}

