.about {
   margin-top: 73.89px;
}

.about-hero {
  background: url(../../images/about/hero.png) no-repeat ;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  height: 150px;
}

.about-hero__img {
  max-width: 100px;
  position: relative;
  bottom: -100px;
}

.about__wrapper {
  padding: 80px 0px 50px;
}

.about__section {
  margin-bottom: 30px;
}


.about__subtitle {
  margin-bottom: 15px;
}

.about__paragraph {
  margin-bottom: 10px;
}

.about__subtitle {
  font-size: 30px;
}

.about__paragraph {
  font-size: 16px;
}



@media (max-width: 600px) {
  .about {
    margin-top: 66px;

  }

  .about__subtitle {
  font-size: 28px;
}

.about__paragraph {
  font-size: 14px;
}
}
