.cookies {
  position: fixed;
  bottom: 0px;

  padding: 20px 50px;
  left: 50%;
  transform: translate(-50%);
  width: 99%;
  background-color: aliceblue;
  z-index: 99999;
  border-radius: 10px 10px 0px 0px;
  animation: subindo 1s ease;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.cookies__button {
  padding: 5px 30px;
  display: block;
  font-size: 16px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

@keyframes subindo {
  from {bottom: -200px}
  to {bottom: 0px}
}

@media (max-width: 800px) {
  .cookies {
    flex-direction: column;

  }

  .cookies__message {
    margin-bottom: 20px;
    text-align: center;
  }
}
