.faq {
  margin: 100px 0px;
}

.faq__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #04117B;
}

.faq__list {
  margin-top: 45px;
}

.faq__item {
  overflow: hidden;
  max-height: 68px;
  margin-bottom: 10px;
  transition: max-height 0.4s ease;
  cursor: pointer;
  box-shadow: 0px 3px 0px #00000029;
  border: 0.03px solid rgba(112, 112, 112, 0.3);
}

.faq__question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.faq__item-active {
  background: #F1F2FF 0% 0% no-repeat padding-box;
  border: 1px solid rgba(110, 48, 255, 0.219);
  max-height: 200px;
}

.faq__question {
  font-weight: 600;
}

.faq__answer {
  padding: 20px 15px;
}

.faq__item-img {
  transition: all 0.3s ease;
}

.faq__item-img--reverse {
  transform: rotate(-180deg)
}

@media (max-width: 900px) {
  .faq__question-large {
    max-height: 80px;
  }


  .faq__item-active {
   max-height: 250px;
  }

}

@media (max-width: 600px) {

  .faq__question-large {
  max-height: 100px;
  }

  .faq__question-medium {
    max-height: 80px;
  }


  .faq__title {
    font-size: 26px;
  }

  .faq__item-active {
  max-height: 420px;
}

}

