.label, .label-error {
  display: block;
  font-weight: 600;
  font-size: 14px;

  margin-bottom: 5px;
}

.label-error {
  color: red;
  font-weight: 700;
  margin-left: 05px;
  font-style: italic;
  display: none;
}


.input, .textarea {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #70707091;
  border-radius: 5px;

  cursor: pointer;
  padding: 0px 12px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.textarea {
  padding: 12px;
  height: 110px;
}
.input {
  height: 56px;
}

.input:focus,
.textarea:focus {
  border: 0.30000001192092896px solid #00C3FF;
}

.label-wrapper {
  display: flex;
}

@media (max-width: 600px) {
  .input,
  .textarea {
    font-size: 14px;
  }

  .textarea {
    padding: 12px;
    height: 110px;
  }

  .input {
    height: 42px;
  }

  .label-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
}