.blog {
  background-image: url(../../images/bg-pink-white.svg),
  url(../../images/bg-blue-pink.svg);
  background-repeat: no-repeat;
  background-position: -200px 1000px,
  top 600px right -200px;
}

.blog__wrapper {
  padding: 97px 0px;
  max-width: 950px;
  width: 95%;
  margin: 0 auto;
}

.blog__text {
  text-align: center;
  margin-bottom: 100px;
}

.blog__title {
  font-size: 40px;
  color: #04117B;
  margin-bottom: 20px;
}

.blog__description {
  width: 95%;
  max-width: 692px;
  margin: 0 auto;
  font-weight: normal;
  color: #0D0D0B;

}

.blog__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.blog__item:first-child {
  margin-bottom: 100px;
}

.blog__item > div {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.blog__item div:first-child {
  text-align: left;
  align-items: flex-start;
}

.blog__item div:last-child {
 text-align: right;
 align-items: flex-end;
}


.blog__item-title {
  font-size: 30px;
}

.blog__item-description {
  margin: 20px 0px 10px;
  width: 90%;
}

.blog__veja-mais {
  font-size: 14px;
  font-weight: 700;
  color: #04117B;
}

.blog__item-illustration img {
  max-width: 450px;
}

.blog__dashboard {
  margin-top: 200px;
  height: 400px;
  background: #00C3FF;
  text-align: center;
}

.blog__dashboard-img {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 150px;
}

.blog__dashboard-img img {
  margin-bottom: 20px;
}


@media (max-width: 900px) {
  
  .blog {
    background-position: -250px 1000px,
    top 800px right -250px;
  }

 .blog__title {
   font-size: 30px;
 }

 .blog__description {
   font-size: 16px;
 }

 .blog__item {
   flex-direction: column;
 }

 .blog__item:last-child {
   flex-direction: column-reverse;
 }

 .blog__item div {
   max-width: 100%;
   justify-content: center;
 }

 .blog__item-text {
   justify-content: center;
 }

 .blog__item div:first-child {
   text-align: center;
   align-items: center;
 }

 .blog__item div:last-child {
   text-align: center;
   align-items: center;

 }

 .blog__dashboard {
  margin-top: 200px;
  height: 300px;
  
}
 
}

@media (max-width: 600px) {
  .blog {
    background-image: none;
  }

  .blog__item-illustration img {
    max-width: 90%;
  }


  .blog__text {
    margin-bottom: 50px;
  }
  
  .blog__description {
    font-size: 14px;
    width: 100%;
  }

  .blog__title {
    font-size: 28px;
  }

  .blog__item {
    gap: 0px;
  }

  .blog__item-text {
    margin-bottom: 25px;
  }

  .blog__item-title {
    font-size: 22px;
  }

  .blog__item-description {
    font-size: 14px;
  }

  .blog__dashboard {
  margin-top: 100px;
  height: 200px;
  background: #00C3FF;
  text-align: center;
}

.blog__dashboard-img {

  bottom: 100px;
}

.blog__item:first-child {
  margin-bottom: 50px;
}

 
}