.plansHeader {
  background: linear-gradient(180deg, #00C3FF 60%, #fff 0%);
}


.plansHeader__wrapper {
  padding-top: 55px;
}

.plansHeader__text {
  text-align: center;
  margin-bottom: 60px;
}

.plansHeader__title {
  margin-bottom: 10px;
  font-size: 40px;
  color: white;
}

.plansHeader__span {
  color: #04117B
}

.plansHeader__description {
  max-width: 520px;
  margin: 0 auto;
}

.plansHeader__cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.plansHeader__card {
  max-width: 360px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #00C3FF;
  border-radius: 5px;
  padding: 30px;
}

.modulo-comecial__card {
  margin-right: 5px;
}

.crm-completo__card {
  margin-bottom: 20px;
}

.plansHeader__card-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.plansHeader__card-description {
  font-size: 14px;
}

.plansHeader__card .cta__button {
  display: block;
  text-align: center;
  margin: 25px 0px;
}

.modulo-comecial__card .cta__button {
  background-color: #E3E3E3;
  color: black;
  font-weight: 600;
}

.plansHeader__card-list {
  margin-bottom: 30px;

}

.plansHeader__card-list-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

.plansHeader__card-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.plansHeader__card-list-item p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #04117B
}

.plansHeader__card-price {
  font-weight: 700;
  text-align: center;
  color:#04117B;
  margin-bottom: 20px;
}

.plansHeader__card-price span {
  font-size: 40px;
}

.plansHeader__additional {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  animation: scaling 1s infinite
}

@keyframes scaling {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}


small {
  text-align: center;
  display: block;
}


@media (max-width: 600px) {
  .plansHeader {
  background: linear-gradient(180deg, #00C3FF 80%, #fff 0%);
}

  .plansHeader__title {
    font-size: 30px;
  }

  .plansHeader__card {
  max-width: 90%;
  padding: 30px 20px;
}

  .plansHeader__description {
    font-size: 14px;
    max-width: 80%;
  }
}
