.about {
  background-image: url(images/bg-blue.svg), url(images/bg-blue-pink.svg);
  background-repeat: no-repeat;
  background-position: bottom 250px left -205px, top 200px right -200px;
}


.about__wrapper .cta__button {
  margin-top: 20px;
  display: inline-block;
}


.about__section {
  margin-bottom: 50px;

}
