.specialist {
  background-color: #EBEBEB;
  height: 100vh;
  min-height: 1000px;
}


.specialist__wrapper {
  padding: 40px 0px;
}


.specialist__text  {
  text-align: center;
  margin-bottom: 30px;
}


.specialist__title {
  font-size: 32px;
  color: #04117B;
  margin-bottom: 15px;
}

.specialist__form-wrapper {
  margin: 0 auto;
  max-width: 650px;
  width: 95%;
}

.specialist__form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}


.specialist__form-text {
  border-bottom: 0.3px solid rgb(184, 184, 184);
  margin-bottom: 20px;
}


.specialist__form-subtitle {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 18px
}


.specialist__form-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.specialist__form-half .specialist__input {
  width: 48%
}


.specialist__button {
  margin: 0 auto;
  display: block;
  background: #04117B;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.specialist__button:hover {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.specialist__button:active {
   box-shadow: none;
}

.specialist-sent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.specialist__come-back {
  font-weight: 700;
  text-align: center;
  display: block;
  color: black;
}

@media (max-width: 600px) {
  .specialist__title {
    font-size: 22px;
  }

  .specialist__description {
    font-size: 14px;
  }

  .specialist__form-half  {
    flex-direction: column;
  }

  .specialist__form-half  .specialist__input {
    width: 100%;
  }
}
