.contact {
   margin-top: 73.89px;
   
}

.contact__wrapper {
  height: 220px;
  background-color: #04117B;
  background-image: url(../../images/bg-pink-white.svg),
  url(../../images/bg-white.svg);
  background-repeat: no-repeat;
  background-position: -200px 50px,
  top -250px right -40px;
  
}

.contact__hero{
  display: flex;
  justify-content: space-between;
}


.contact__hero-title {
  color: white;
  font-size: 40px;
  padding-top: 50px;
  width: 52%
}

.contact__hero-illustration {
  position: relative;
  bottom: -40px;
}

.contact__content {
  margin: 120px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.contact__form {
  padding: 30px 20px;
  background: #FFFFFF;
  border: 0.3px solid rgba(112, 112, 112, 0.2);
  border-radius: 5px;
  width: 50%;
}

.contact__text {
  width: 50%;
}

.contact__text-title-wrapper {
  width: 85%;
  font-size: 28px;
  position: relative;
  margin-bottom: 50px;
  color: #04117B
}

.contact__text-title-wrapper::after {
  content: "";
  position: absolute;
  height: 0.3px;
  width: 150%;
  background-color: rgba(112, 112, 112, 0.5);
  right: 30px;
  bottom: -10px;
  z-index: -1;
}

.contact__text-item {
  margin-bottom: 20px;
  font-size: 18px
}



@media (max-width: 900px) {
  .contact__hero-title {
    font-size: 30px;
  }
  .contact__hero-illustration {
    width: 250px;
    bottom: -90px;
  }

  .contact__content {
    gap: 30px;
  }
  .contact__form {
    width: 70%;
  }
  .contact__text-title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .contact {
    margin-top: 66px;
    overflow: hidden;
  }

  .contact__wrapper {
    background-image: none;
  }

  .contact__hero-title {
    width: 80%;
  }

  .contact__content {
    flex-direction: column;
  }

  .contact__form {
    width: 95%;
  }

  .contact__text {
    width: 80%;
  }

  .contact__hero-illustration {
    width: 250px;
    bottom: -120px;
    right: 20px;
  }

  .contact__hero-illustration img {
    min-width: 150px;
  }

  .contact__text-title {
    font-size: 22px;
  }

  
} 