.camadas {  
  position: relative;
  background-image: url(../../../images/bg-white.svg);
  background-repeat: no-repeat;
  background-position: top -150px right -150px;
}

.camadas__wrapper {
  position: relative;
  padding-bottom: 40px;
  text-align: center;

  max-width: 1200px;
  margin: 0 auto;
  width: 95%
}

.camadas__wrapper::before {
  content: "";
  background-color: white;
  height: 35px;
  width: 100%;
  position: absolute;
  top: -34px;
  left: 0px;
}

.camadas__text {
  margin-bottom: 90px;
}


.camadas__title {
  font-size: 40px;
  color: white;
  font-weight: bold;
  color: #04117B;
  margin-bottom: 20px;
}

.camadas__list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 120px;
}


.camadas__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  
}

.camadas__item-title {
  font-size: 20px;
  font-weight: bold;
  
}

.camadas__item-line {
 margin-bottom: 5px;
  padding-bottom: 5px;
}

.camadas__item {
  min-width: 250px;
}


.camadas__item-line-1 {
  border-bottom: 3px solid #8676FF;
}

.camadas__item-line-2 {
  border-bottom: 3px solid #04117B;
}

.camadas__item-line-3 {
  border-bottom: 3px solid #FFD418;
}

.camadas__item-line-4{
  border-bottom: 3px solid #FF80BD;
}


.camadas__animation {
  position: relative;
}

.camadas__animation-content {
transform: translate(-50%, -50%);
 position: absolute;
    top: 50%; 
    left: 50%; 
}

.camadas__animation-title {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  color: #04117B;
  color: black;
  font-weight: 600;
  margin-bottom: 20px
}

.camadas__four-balls {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
  justify-content: center;
  gap: 15px;


}

.camadas__animation-img {
  
  animation: rotate  35s linear infinite;
}


@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media (max-width: 900px) {
  .camadas__list {
  display: grid;
  grid-template-columns: 90%;

  justify-content: center;
  margin-bottom: 80px

}


.camadas__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.camadas__item-content {
  margin-bottom: 50px;
}

.camadas__animation {
  width: 300px;
   margin: 0 auto 50px;
}

.camadas__animation-title {
  font-size: 22px;

}

.camadas__four-balls {
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  gap: 10px;

}
}


@media (max-width: 600px) {
  .camadas__title {
  font-size: 30px;
  
}

.camadas__animation-title {
  font-size: 18px;

}

.camadas__animation {
  width: 250px;
  margin: 0 auto 50px;

}

.camadas .cta__button {
  font-size: 16px !important;
}
}