.onboarding__question {
  font-size: 40px;
  color: white;
  margin: 100px 0px 20px;
}

.onboarding__description {
  font-size: 18px;
  margin-bottom: 60px;
}

.onboarding__half-inputs {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 20px;

}

.onboarding__half-inputs > div {
  width: 100%;

}

.firstpage__link {
  margin-top: 30px;
  display: block;
  color: black;
  font-size: 14px;
}

.onboarding__logo {
  width: 250px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(255,255,255,0.5));
}

.onboarding__half-inputs input , .onboarding__half-inputs select{
   border: none;
   transition: all 0.1s ease;
}

.onboarding__half-inputs input:focus,
.onboarding__half-inputs select:focus {
  border: 2px solid #04117B;
}

.onboarding__half-inputs label {
  text-align: left;
}

@media (max-width: 900px) {
  .onboarding__question {
  font-size: 30px;
  width: 90%;
  color: white;
  margin: 70px auto 15px;
}


.onboarding__description {
  font-size: 14px;
  margin-bottom: 40px;
}

  .onboarding__half-inputs {
  flex-direction: column;
  gap: 0px;
}

  .input {
      margin-bottom: 20px;
  }

  .onboarding__wrapper {
    width:90%
  }

}

@media (max-width: 600px) {
    .onboarding__question {
  font-size: 24px;
  width: 95%;
  color: white;
  margin: 40px auto 15px;
}


.onboarding__description {
  font-size: 12px;
  margin-bottom: 40px;
}

.onboarding__wrapper {
    padding-top: 35px;
  }
}
