.onboarding__timeline {
  display: flex;
  width: 550px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.onboarding__timeline::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  z-index: -1;
}

.onboarding__timeline-ball {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding__timeline-ball--in {
  width: 120px;
  height: 120px;
  background-color: #04117B;
}

.onboarding__timeline-ball--in svg {
  fill: white;
  transform: scale(1.5);
}


@media (max-width: 900px) {
  .onboarding__timeline {
    width: 300px;
  }

  .onboarding__timeline-ball {
    width: 50px;
    height: 50px;
  }

  .onboarding__timeline-ball svg {
    width: 25px;
    height: 25px;
  }

  .onboarding__timeline-ball--in {
  width: 80px;
  height: 80px;
}

  .onboarding__timeline-ball--in svg {

    fill: white;
    transform: scale(1.5);
  }
}

@media (max-width: 600px) {
   .onboarding__timeline {
    width: 250px;
  }

  .onboarding__timeline-ball {
    width: 30px;
    height: 30px;
  }

  .onboarding__timeline-ball svg {
    width: 18px;
    height: 18px;
  }

  .onboarding__timeline-ball--in {
  width: 60px;
  height: 60px;
}

  .onboarding__timeline-ball--in svg {

    fill: white;
    transform: scale(1.6);
  }
}