.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 6px #00000029;
  background-color: white;
  user-select: none;
  z-index: 9999
}

.header__wrapper {
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrapper {
  max-width: 146px;
}

/*
MENU
 */

.header__nav-list {
  display: flex;
  align-items: flex-end;
}



.nav-dropdown__item {
  display: flex;
  align-items: center;
  height: 22px;
}

.header__nav-item {
  margin-right: 30px;
  cursor: pointer;
}

.nav__dropdown-icon {
  margin-left: 6px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.header__nav-dropdown {
  position: relative;

}

.header__burguer-menu {
  display: none;
}

.header__nav-burguer {
 display: none;
}


@media (max-width: 1000px) {
  .header__burguer-menu {
    display: block;
    position: fixed;
    right: 20px;
    cursor: pointer;
  }

   .header__nav-burguer {

        display: block;
      width: 25px;
      position: absolute;
      top: 30px;
      right: 25px;
      cursor: pointer;
  }


  .header__burguer-line {
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: black;
  }

  .last-line {
    margin-bottom: 0px;
  }

  .header__nav {
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 0;
    right: -100%;
    width: 100%;
    transition: all 0.4s ease;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
     align-items: center;
    height: 100vh
  }

  .header__nav-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .header__nav-link {
    font-size: 22px;
  }

  .header .cta__button {
    margin-top: 40px;
    display: block
  }

  .show{
    right: 0px;
  }


}




@media (max-width: 600px) {


  .header__logo-wrapper {
    max-width: 120px;
  }
}
