.hero {
  margin-top: 73.89px;
  background-color: #00C3FF;
  background-image: url(../../../images/bg-pink-white.svg),
  url(../../../images/bg-white.svg);
  background-repeat: no-repeat;
  background-position: -200px 350px, right -160px;
  height: calc(100vh - 85px);
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__wrapper {
  text-align: center;
  position: relative;
}


.hero__title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__title-span {
color: #04117B;
}

.hero__description {
  color: white;
  max-width: 52%;
  font-size: 16px;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom: 40px;
}

.hero__free-text {
  margin-top: 35px;
  font-size: 14px;
  color: #5E5E5E
}

@media (max-width: 900px) {
  .hero__title {
    max-width: 90%;
  }

  .hero__description {
    max-width: 80%;
  }

}

@media (max-width: 600px) {

  .hero {
     background-position: -240px 350px,
     top -160px right -210px;
     margin-top: 66px;
     min-height: 600px;
  }

   .hero__title {
     font-size: 30px;
   }

   .hero__description {
     font-size: 12px
   }

   .hero .cta__button {
     font-size: 14px !important;
     display: block;
     
   }
   
}