.partners {
  background-color: #00C3FF;
  padding: 30px 0px;
}
.partners__wrapper {
  padding: 30px 0px 80px;
  text-align: center;
  background-color: white;
}

.partners__title {
  font-size: 40px;
  color: #04117B;
  margin-bottom: 20px
}

.partners__description {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.partners__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.partners__item {
  width: 150px;
  margin: 10px 20px;
}

.partners__item-img {
  -webkit-filter:  drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
}


@media (max-width: 900px) {
  .partners__description {
    width: 80%;
  }

}

@media (max-width: 600px) {
  .partners__title {
    font-size: 30px;
  }

  .partners__description {
    width: 80%;
    font-size: 14px;
  }

  .partners__item {
    width: 100px;
  }

}