.footer {
  background-color: #04117B;
  padding: 90px 0px 10px;
}

.footer__top {
  text-align: center;
  padding-bottom: 90px;
  border-bottom: 2px solid white;
}

.footer__title {
  font-size: 35px;
  color: white;
  width: 80%;
  margin: 0 auto 50px;
}

.footer__title-span {
  color:#00C3FF
}

.footer__bottom {
  padding: 90px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__logo {
  width: 200px
}

.footer__menu-item {
 color: white;
 margin-bottom: 5px;
}

.footer__menu-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__menu .cta__button {
  margin-top: 20px;
}

.copyright {
  text-align: center;
  color: white;
  display: block;
}

@media (max-width: 900px) {
  .footer__title {
    width: 90%;
  }

  .footer__logo {
   margin: 0 auto;
   margin-bottom: 40px;
  }

  .footer__bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer__menu {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .footer__title {
    font-size: 30px;
  }

  .copyright {
    font-size: 12px;
  }
}
