.cta__button {
  padding: 9px 30px;
  color: #04117B;
  background: #FFD418;
  box-shadow: 0px 1px 6px #00000029;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.onboarding__btn {
  font-size: 24px;
  font-weight: 600;
  padding: 15px 40px;
  background-color: #04117B;
  color: white;
  border-radius: 5px;
  min-width: 320px;
  margin-top: 30px;
  cursor: pointer
}

@media (max-width: 600px) {
  .onboarding__btn {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 60px;
  background-color: #04117B;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  min-width: auto;
}
}