.onboarding-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding-modal__content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.8s ease-in both;
  max-width: 600px;
  width: 95%;
}

.onboarding-modal__title {
  font-size: 22px;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.onboarding-modal__button-cancel {
  font-weight: 600;
  color: black;
  font-size: 14px;
  margin-top: 20px;
  display: block;
}


@media (max-width: 600px) {
  .onboarding-modal__content {

  padding: 30px 10px;
  }

  .onboarding-modal__title {
  font-size: 16px;
  font-weight: 600;
}
}
