* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  /* appearance: none; */
  border-radius: 0px;
  touch-action: manipulation;
  outline: 0;
}

body, #root {
   overflow-x: hidden;
}

body, input, ::placeholder, textarea, button, a, label, select, option {
  font-family: 'Open Sans',
  sans-serif;

}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  width: 95%;
}
