.main {
  background-image:  url(../../../images/bg-blue.svg), url(../../../images/bg-blue-pink.svg);
  background-repeat: no-repeat;
  background-position: bottom 250px left -205px, top 200px right -200px;
}

.main__wrapper {
  padding: 90px 80px 190px;
}

.main__text {
  text-align: center;
  margin-bottom: 130px;
}

.main__title {
  font-size: 40px;
  width: 95%;
  margin: 0 auto;
  color: #04117B;
  margin-bottom: 20px;
}

.main__description {
  width: 75%;
  margin: 0 auto;
}

.main__content-item {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  margin-bottom: 110px;
  align-items: center;
}

.main__content-item:nth-child(even) {
  text-align: right;
}

.main__content-item:nth-child(odd) .main__content-illustration {
display: flex;
justify-content: flex-end;
}


.main__content-text,
.main__content-illustration {
  width: 50%;
}

.main__content-title {
  font-size: 28px;
  margin-bottom: 25px;
}

.main__content-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.main__content-cta {
  font-weight: 700;
  text-decoration: underline;
  color: #04117B
}

@media (max-width: 900px) {
  .main {
    background-position: bottom 250px left -220px, top 200px right -220px;
  }

  .main__wrapper {
    padding: 50px 20px 90px
  }

  .main__content-item {
    flex-direction: column;
    justify-content: center;
  }

  .main__content-item:nth-child(even) {
    flex-direction: column-reverse;
  }

  .main__content-text,
  .main__content-illustration {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {

 .main {
  background: none;
 }

  .main__wrapper {
    padding: 50px 10px 90px
  }

  .main__text {
    margin-bottom: 80px;
  }

  .main__content-item {
    gap: 50px
  }

  .main__title {
    font-size: 30px;
    
  }

  .main__description {
    font-size: 12px;
    width: 100%;
  }

  .main__content-title {
    font-size: 25px;
  
  }

  .main__content-description {
    font-size: 12px;
  }

  .main__content-cta {
    font-size: 14px;
  }


}