.benefits {
  margin: 100px 0px;
}
.benefits__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #04117B;
}


.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  margin-top: 45px;
}

.benefits__item {

  box-shadow: 0px 3px 6px #00000029;
  border: 0.01px solid #afa5fc5b;
  padding: 20px;
}


.benefits__item-title {
  color: #04117B;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

.benefits__item-text {
  color: #676767;
font-size: 15px;
}


@media (max-width: 600px) {
  .benefits__list {
    grid-template-columns: 1fr;
  }

  .benefits__title {
    font-size: 26px;
  }

  .benefits__item-title , .benefits__item-text{
    text-align: center;
  }
  .benefits__item-text {
    font-size: 14px;
  }
}
